body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.image-container {
    text-align: center;
}
.text-field-container {
    margin-top: 20px;
}
.text-field-container input[type="text"] {
    width: 600px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.textbox {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
}
table {
    width: 600px;
    border-collapse: collapse;
}
table, th, td {
    border: 2px solid lightgrey;
}
td:first-child {
    width: 26%;
    text-align: right;
}
th, td {
    padding: 8px;
    text-align: left;
}
.c {
    color: SeaGreen;
}
.i {
    color: Red;
}
div.chat {
    width: 600px;
    height: auto;
    max-height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between each message */
}
.bot, .human {
    display: inline-block;
    padding: 10px;
    border: 1px solid WhiteSmoke;
    border-radius: 10px;
    background-color: WhiteSmoke;
    line-height: 1.6;
    max-width: 600px;
}
.bot {
    text-align: left;
    align-self: flex-start; /* Aligns the bot messages to the left */
}
.human {
    text-align: right;
    align-self: flex-end; /* Aligns the human messages to the right */
}
